# Ignorar pastas e arquivos do Visual Studio
.vs/
*.VC.opendb
*.VC.db

# Ignorar arquivos de build e de compilação
/bin
/obj
*.pdb
*.ilk
*.idb

# Ignorar logs e temporários
*.log
*.tmp

# Ignorar arquivos de backup
*.bak

# Ignorar arquivos de configuração do Visual Studio
*.suo
*.user
*.ipch
*.opensdf
*.sdf
*.VC.VC.opendb

# Ignorar o arquivo de lock do NuGet
project.lock.json
